<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %> 
    <div class="detail-bg">
        <h3><%= JSON.stringify(result.username) %>의 게시물</h3>
        <h4><%= result.title %></h4>
        <p><%= result.content %></p>
        <img src="<%= result.img %>">

        <a href="/chat/request?writerId=<%= result.user %>">채팅하기</a>

        <hr style="margin-top: 60px;">
        <div>
            <% for (var i=0; i < result2.length; i++) { %>
                <p><strong><%= result2[i].writer %></strong> <%= result2[i].content %></p>
            <% } %> 
            
        </div>
        <% if (유저) { %>
        <form action="/comment" method="POST">
            <input name="content" class="form-control" style="margin: 10px; width : 40%;">
            <input name="parentId" class="form-control" value="<%= result._id %>" style="display: none;">
            <button type="submit" class="form-control; search-send" style="margin-top: 10px; width: fit-content;">댓글달기</button>
        </form>
        <% }
        else { %>
            <p>댓글은 <a href="/login">로그인 혹은 회원가입</a>후 작성할 수 있어요.</p>
        <% } %>
    </div> 
    
    
  
  </body>
</html>