<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %> 

    <div class="white-bg">
        <form class="form-box" action="/edit/<%= result._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h4>수정하기</h4>
            <input name="title" value="<%= result.title %>">
            <input name="content" value="<%= result.content %>">
            <input name="id" value="<%= result._id %>" type="hidden">

             <!-- 기존에 업로드된 이미지 미리보기 -->
             <% for (let i = 0; i < result.img.length; i++) { %>
                <img src="<%= result.img[i] %>" style="width: 100px; height: auto;">
            <% } %>
            
            <!-- 새 이미지 업로드 -->
            <input type="file" name="img1" accept="image/*" multiple>

            <button type="submit">전송</button>
        </form> 
         

    </div> 

    
    
  
  </body>
</html>